Source: lua-expat
Section: interpreters
Priority: optional
Maintainer: Enrico Tassi <gareuselesinge@debian.org>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), lua5.1-policy-dev (>= 22), libexpat1-dev, shake
Standards-Version: 3.8.2
Vcs-Svn: svn://svn.debian.org/pkg-lua/packages/lua-expat
Vcs-Browser: http://svn.debian.org/viewsvn/pkg-lua/packages/lua-expat
Homepage: http://www.keplerproject.org/luaexpat/

Package: liblua5.1-expat0
Architecture: any
Depends: ${shlibs:Depends}
Description: libexpat bindings for the Lua language version 5.1
 This package contains the bindings for the expat library.

Package: liblua5.1-expat-dev
Architecture: any
Depends: liblua5.1-expat0 (= ${binary:Version})
Section: libdevel
Description: libexpat development files for the Lua language version 5.1
 This package contains the development files of the libexpat lua5.1 bindings,
 useful to create a statically linked binary (like a C application or a
 standalone Lua interpreter).
 Documentation is also shipped within this package.
